/* style.css */

/* Modo Claro (Padrão) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

button {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e8491d;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #35424a;
    color: white;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

a{
    color: #007bff;
}

a:visited{
    color:#6495ed; /*links visitados*/
}

header.dark-mode {
    background-color: #1b1b1b;
}

button.dark-mode {
    background-color: #444;
}

button.dark-mode:hover {
    background-color: #666;
}

th.dark-mode {
    background-color: #444;
}
